@{
    ViewData["Title"] = "CB";
}

<!-- Home -->
<div id="sobre" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-justify">
            <h2>Sobre a empresa</h2>
            <h4>teste teste teste teste teste.</h4><br>
        </div>
        <br />
    </div>
</div>

<!-- Contato -->
<div id="contato" class="container-fluid bg-grey">
    <h2 class="text-center">Contato</h2>
    <div class="row">
        <div class="col-sm-5">
            <p>Contato.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Rio de Janeiro, RJ</p>
            <p><span class="glyphicon glyphicon-phone"></span> +55 21 2500-0000</p>
            <p><span class="glyphicon glyphicon-envelope"></span> contato@cb.com.br</p>
        </div>
        <div class="col-sm-7 slideanim">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comentário" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>
