@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Eita, bugou!</h1>
<h2 class="text-danger">Um erro inesperado ocorreu!</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Tente novamente, caso não resolva, contate Sérgio Rezende no telefone +55 (21) 9 8214-9672 para suporte.
</p>