body {
    margin-top: 80px;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    transition: 0.5s all;
}

h1 {
    font-size: 5vmin;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 20px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}

h8 {
    font-size: 24px;
}

.navbar-default {
    background-color: #080808;
    border-color: #e7e7e7;
}

    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
        background-color: #af873a;
        color: white;
    }

.nav-first {
    background: #000;
    border: 0;
    padding: 0;
    margin: 0;
}

    .nav-first .icon {
        padding: 5px;
    }

    .nav-first .phone {
        font-family: "Droid Sans", Arial, sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: 700;
        padding: 12px 10px;
        color: #fff;
    }

    .nav-first .open {
        font-family: "Raleway", Arial, sans-serif;
        font-size: 12px;
        color: #555;
        padding: 17px 10px;
    }

    .nav-first .glyph-icon {
        color: #fff;
        padding: 17px 10px;
    }

.nav-second {
    background-color: rgba(255,255,255,0.2);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    position: relative;
    top: 0;
    font-size: 13px;
    width: auto;
}

.navbar-brand {
    padding: 0 15px;
    height: 96px;
}

.navbar-nav li a {
    line-height: 70px;
}

.navbar-nav li button {
    line-height: 94px;
}

.nav-second .navbar-nav li a, .nav-first .navbar-nav li a {
    font-family: "Raleway", Arial, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .nav-second .navbar-nav {
        position: relative;
        right: -50%;
    }

        .nav-second .navbar-nav > li {
            position: relative;
            left: -50%;
        }

            .nav-second .navbar-nav > li a {
                line-height: 126px;
                vertical-align: middle;
                padding: 0 10px;
            }
}

@media (min-width: 992px) {
    .nav-second .navbar-nav > li a {
        padding: 0 25px;
    }
}

@media (min-width: 1200px) {
    .nav-second .navbar-nav > li a {
        padding: 0 24px;
    }
}

/*.modal-login {
    color: #636363;
    width: 350px;
}

    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }

    .modal-login h4 {
        text-align: center;
        font-size: 26px;
    }

    .modal-login .form-group {
        position: relative;
    }

    .modal-login .form-control {
        padding-left: 40px;
    }

        .modal-login .form-control:focus {
            border-color: #00ce81;
        }

    .modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .modal-login .btn {
        background: #00ce81;
        border: none;
        line-height: normal;
    }

        .modal-login .btn:hover, .modal-login .btn:focus {
            background: #00bf78;
        }

    .modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
        justify-content: center;
    }

        .modal-login .modal-footer a {
            color: #999;
        }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}*/

.modal-login {
    color: #636363;
    width: 350px;
}

    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }

    .modal-login .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
    }

    .modal-login h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }

    .modal-login .form-control:focus {
        border-color: #70c5c0;
    }

    .modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px;
    }

    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }

    .modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        justify-content: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
    }

        .modal-login .modal-footer a {
            color: #999;
        }

    .modal-login .avatar {
        position: absolute;
        text-align: center;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #af873a;
 
    }

        .modal-login .avatar img {
            width: auto;
        }

    .modal-login.modal-dialog {
        margin-top: 80px;
    }

    .modal-login .btn {
        color: #fff;
        border-radius: 4px;
        background: #af873a;
        text-decoration: none;
        transition: all 0.4s;
        line-height: normal;
        border: none;
    }

        .modal-login .btn:hover, .modal-login .btn:focus {
            background: green;
            outline: none;
        }

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}